.buttonContainer {
    display: flex;
    gap: 10px;
}

.buttonPrev {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s linear;
    border-radius: 50px;
    border: 1px solid #808080;
    padding: 11px 17px;
    color: #808080;
    font-size: 1.5em;
    font-family: Monospace;
    background-color: #efebebf4;
}

.buttonPrev:hover {
    box-shadow: 10px 10px 40px #d1d1d1;
    background-color: whitesmoke;
    border: 1px solid rgba(0, 0, 0, 0.559);
}

.buttonNext {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s linear;
    border-radius: 50px;
    border: 1px solid whitesmoke;
    padding: 11px 17px;
    color: whitesmoke;
    font-size: 1.5em;
    font-family: Monospace;
    background-color: black;
}

.buttonNext:hover {
    box-shadow: 10px 10px 40px white;
    background-color: #808080;
    border: 1px solid white;
}