button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s linear;
  border-radius:50px;
  border: 1px solid #808080;
  padding: 11px 17px;
  color: #808080;
  font-size: 1.5em;
  font-family: Monospace;
}

button:hover {
  box-shadow: 10px 10px 40px #d1d1d1;
  transform: translateY(-5px);
  color: cadetblue;
  border: 2px solid cadetblue;
}